@keyframes editor-tab-loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}

.editorTabLoadingBar {
  animation: editor-tab-loading-bar 1.5s linear infinite;
}
