dist/
node_modules/
.DS_Store
*storybook.log
*.log
*.tsbuildinfo
*.tgz
storybook-static/
.idea
tailwind_safelist.txt
*.iml

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
