.light {
  --ch-0: light;
  --ch-1: #56565a;
  --ch-2: #baa039;
  --ch-3: #fc7989;
  --ch-4: #787878;
  --ch-5: #3794ff;
  --ch-6: #54bc93;
  --ch-7: #9075fc;
  --ch-8: #54bc93;
  --ch-9: #fda4af;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #0d1117;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}

.dark {
  --ch-0: dark;
  --ch-1: #71717a;
  --ch-2: #fef3c7;
  --ch-3: #fda4af;
  --ch-4: #e4e4e7;
  --ch-5: #7dd3fc;
  --ch-6: #6ee7b7;
  --ch-7: #c4b5fd;
  --ch-8: #6ee7b7;
  --ch-9: #fda4af;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #0d1117;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}
