.active {
  border-radius: 50px;
  background: #f8f8f8;
  box-shadow:
    0 0 4px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px 0 #fff inset,
    0 -2px 1px 0 rgba(0, 0, 0, 0.05) inset;
}

:global(.dark) {
  .active {
    background: #121212;
    box-shadow:
      0 0 6px 0 rgba(0, 0, 0, 0.35),
      0 2px 1px 0 rgba(255, 255, 255, 0.08) inset,
      0 -2px 1px 0 rgba(0, 0, 0, 0.45) inset;
  }
}

